In [1]:
# Importamos las librerías necesarias.
import numpy as np
import pandas as pd
import ast

In [2]:
# Cargamos los datos.
df = pd.read_csv("movies_dataset.csv", sep =",", low_memory=False)
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [3]:
# Visualizamos las caracteristicas de nuestro dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [4]:
# Visualizamos valores nulos.
df.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

Transformaciones

Eliminar las columnas que no serán utilizadas, video,imdb_id,adult,original_title,vote_count,poster_path y homepage.

In [5]:
#Eliminamos las columnas solicitadas.
df.drop(columns=["video","imdb_id","adult","original_title","vote_count","poster_path","homepage"], inplace=True )

In [6]:
df.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5
3,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7

Los valores nulos de los campos revenue, budget deben ser rellenados por el número 0.

In [7]:
#Reemplazamos valores nulos. Que visualizamos anteriormente.
df['revenue'].fillna(value=0, inplace=True)
df['budget'].fillna(value=0, inplace=True)

In [8]:
#Corroboramos
df.isnull().sum()

belongs_to_collection    40972
budget                       0
genres                       0
id                           0
original_language           11
overview                   954
popularity                   5
production_companies         3
production_countries         3
release_date                87
revenue                      0
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
vote_average                 6
dtype: int64

Algunos campos, como belongs_to_collection, production_companies y otros (ver diccionario de datos) están anidados, esto es o bien tienen un diccionario o una lista como valores en cada fila, ¡deberán desanidarlos para poder y unirlos al dataset de nuevo hacer alguna de las consultas de la API! O bien buscar la manera de acceder a esos datos sin desanidarlos.

In [67]:
#Definimos funciones que van a extraer el dato name anidado

In [9]:
def buscar_name(obj): 
    if isinstance(obj, str) and '{' in obj:
        L=[]
        for i in ast.literal_eval(obj):
            L.append(i['name'])
        return L

In [10]:
def buscar_name2(obj): 
    if isinstance(obj, str) and '{' in obj:
        dic = ast.literal_eval(obj)
        return dic['name']

In [11]:
#Aplicamos las funciones definidas a las columnas anidadas
df['genres'] = df['genres'].apply(buscar_name)
df['belongs_to_collection'] = df['belongs_to_collection'].apply(buscar_name2)
df['production_companies']  = df['production_companies'].apply(buscar_name)
df['production_countries']  = df['production_countries'].apply(buscar_name)
df['spoken_languages'] = df['spoken_languages'].apply(buscar_name)

In [12]:
df.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average
0,Toy Story Collection,30000000,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],[United States of America],1995-10-30,373554033.0,81.0,[English],Released,NaN,Toy Story,7.7
1,None,65000000,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],1995-12-15,262797249.0,104.0,"[English, Français]",Released,Roll the dice and unleash the excitement!,Jumanji,6.9
2,Grumpy Old Men Collection,0,"[Romance, Comedy]",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[Warner Bros., Lancaster Gate]",[United States of America],1995-12-22,0.0,101.0,[English],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5
3,None,16000000,"[Comedy, Drama, Romance]",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[Twentieth Century Fox Film Corporation],[United States of America],1995-12-22,81452156.0,127.0,[English],Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1
4,Father of the Bride Collection,0,[Comedy],11862,en,Just when George Banks has recovered from his ...,8.387519,"[Sandollar Productions, Touchstone Pictures]",[United States of America],1995-02-10,76578911.0,106.0,[English],Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7

In [13]:
#Convertimos los valores que obtuvimos de formato lista a formato no lista 
df['genres'] = df['genres'].apply(lambda x: ', '.join(map(str, x)) if x is not None else None)
df['production_companies'] = df['production_companies'].apply(lambda x: ', '.join(map(str, x)) if x is not None else None)
df['production_countries'] = df['production_countries'].apply(lambda x: ', '.join(map(str, x)) if x is not None else None)
df['spoken_languages'] = df['spoken_languages'].apply(lambda x: ', '.join(map(str, x)) if x is not None else None)

In [14]:
df.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average
0,Toy Story Collection,30000000,"Animation, Comedy, Family",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,United States of America,1995-10-30,373554033.0,81.0,English,Released,NaN,Toy Story,7.7
1,None,65000000,"Adventure, Fantasy, Family",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"TriStar Pictures, Teitler Film, Interscope Com...",United States of America,1995-12-15,262797249.0,104.0,"English, Français",Released,Roll the dice and unleash the excitement!,Jumanji,6.9
2,Grumpy Old Men Collection,0,"Romance, Comedy",15602,en,A family wedding reignites the ancient feud be...,11.7129,"Warner Bros., Lancaster Gate",United States of America,1995-12-22,0.0,101.0,English,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5
3,None,16000000,"Comedy, Drama, Romance",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,Twentieth Century Fox Film Corporation,United States of America,1995-12-22,81452156.0,127.0,English,Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1
4,Father of the Bride Collection,0,Comedy,11862,en,Just when George Banks has recovered from his ...,8.387519,"Sandollar Productions, Touchstone Pictures",United States of America,1995-02-10,76578911.0,106.0,English,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7

Crear la columna con el retorno de inversión, llamada return con los campos revenue y budget, dividiendo estas dos últimas revenue / budget, cuando no hay datos disponibles para calcularlo, deberá tomar el valor 0.

In [74]:
#Primero debemos transformar la columna budget a numerica
#df['budget'] = pd.to_numeric(df['budget']) de esta forma lanza error porque hay registros con formato jpj

In [15]:
#Aplicamos un filtro para identificar los registros en formato jpg
filtro = df['budget'].str.contains('.jpg')

In [16]:
#Definimos nuevamente nuestro dataframe aplicando el filtro para que ya no contenga los registros en formato jpg
df = df[~filtro]

In [17]:
#Convertimos a formato float nuestra columna budget
df['budget'] = df['budget'].astype('float64')

In [18]:
#Corroboramos
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45463 entries, 0 to 45465
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4491 non-null   object
 1   budget                 45463 non-null  float64
 2   genres                 43021 non-null  object
 3   id                     45463 non-null  object
 4   original_language      45452 non-null  object
 5   overview               44509 non-null  object
 6   popularity             45460 non-null  object
 7   production_companies   33585 non-null  object
 8   production_countries   39178 non-null  object
 9   release_date           45376 non-null  object
 10  revenue                45463 non-null  float64
 11  runtime                45203 non-null  float64
 12  spoken_languages       41631 non-null  object
 13  status                 45379 non-null  object
 14  tagline                20412 non-null  object
 15  title                  45460 non-null  object
 16  vote_average           45460 non-null  float64
dtypes: float64(4), object(13)
memory usage: 6.2+ MB

In [20]:
#Creamos la nueva columna retur solicitada
# Definimos una función que calcula el retorno de inversión, teniendo en cuenta si existen nulos en numerador o denominador, y si el denominador es cero.
def calcular_retorno(row):
    revenue = row['revenue']
    budget = row['budget']
    if pd.isnull(revenue) or pd.isnull(budget) or budget == 0:
        return 0
    return revenue / budget


df['retorno'] = df.apply(calcular_retorno, axis=1)

In [21]:
#Corroboramos
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45463 entries, 0 to 45465
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4491 non-null   object
 1   budget                 45463 non-null  float64
 2   genres                 43021 non-null  object
 3   id                     45463 non-null  object
 4   original_language      45452 non-null  object
 5   overview               44509 non-null  object
 6   popularity             45460 non-null  object
 7   production_companies   33585 non-null  object
 8   production_countries   39178 non-null  object
 9   release_date           45376 non-null  object
 10  revenue                45463 non-null  float64
 11  runtime                45203 non-null  float64
 12  spoken_languages       41631 non-null  object
 13  status                 45379 non-null  object
 14  tagline                20412 non-null  object
 15  title                  45460 non-null  object
 16  vote_average           45460 non-null  float64
 17  retorno                45463 non-null  float64
dtypes: float64(5), object(13)
memory usage: 6.6+ MB

Los valores nulos del campo release date deben eliminarse.

In [23]:
#Convertimos la columna release_date a formato datetime
df['release_date'] = pd.to_datetime(df['release_date'])

In [24]:
#Eliminamos los valores nulos de la columna release_date
df = df.dropna(subset=['release_date'])

In [25]:
#Corroboramos
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45376 entries, 0 to 45465
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4488 non-null   object
 1   budget                 45376 non-null  float64
 2   genres                 42992 non-null  object
 3   id                     45376 non-null  object
 4   original_language      45365 non-null  object
 5   overview               44435 non-null  object
 6   popularity             45376 non-null  object
 7   production_companies   33580 non-null  object
 8   production_countries   39165 non-null  object
 9   release_date           45376 non-null  datetime64[ns]
 10  revenue                45376 non-null  float64
 11  runtime                45130 non-null  float64
 12  spoken_languages       41608 non-null  object
 13  status                 45296 non-null  object
 14  tagline                20398 non-null  object
 15  title                  45376 non-null  object
 16  vote_average           45376 non-null  float64
 17  retorno                45376 non-null  float64
dtypes: datetime64[ns](1), float64(5), object(12)
memory usage: 6.6+ MB

De haber fechas, deberán tener el formato AAAA-mm-dd, además deberán crear la columna release_year donde extraerán el año de la fecha de estreno.

In [26]:
#Creamos la columna release_year
df['release_year'] = df['release_date'].dt.year

In [27]:
#Corroboramos
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45376 entries, 0 to 45465
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4488 non-null   object
 1   budget                 45376 non-null  float64
 2   genres                 42992 non-null  object
 3   id                     45376 non-null  object
 4   original_language      45365 non-null  object
 5   overview               44435 non-null  object
 6   popularity             45376 non-null  object
 7   production_companies   33580 non-null  object
 8   production_countries   39165 non-null  object
 9   release_date           45376 non-null  datetime64[ns]
 10  revenue                45376 non-null  float64
 11  runtime                45130 non-null  float64
 12  spoken_languages       41608 non-null  object
 13  status                 45296 non-null  object
 14  tagline                20398 non-null  object
 15  title                  45376 non-null  object
 16  vote_average           45376 non-null  float64
 17  retorno                45376 non-null  float64
 18  release_year           45376 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(1), object(12)
memory usage: 6.9+ MB

In [28]:
df.head(10)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,retorno,release_year
0,Toy Story Collection,30000000.0,"Animation, Comedy, Family",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,United States of America,1995-10-30,373554033.0,81.0,English,Released,NaN,Toy Story,7.7,12.451801,1995
1,None,65000000.0,"Adventure, Fantasy, Family",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"TriStar Pictures, Teitler Film, Interscope Com...",United States of America,1995-12-15,262797249.0,104.0,"English, Français",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,4.043035,1995
2,Grumpy Old Men Collection,0.0,"Romance, Comedy",15602,en,A family wedding reignites the ancient feud be...,11.7129,"Warner Bros., Lancaster Gate",United States of America,1995-12-22,0.0,101.0,English,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,0.000000,1995
3,None,16000000.0,"Comedy, Drama, Romance",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,Twentieth Century Fox Film Corporation,United States of America,1995-12-22,81452156.0,127.0,English,Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,5.090760,1995
4,Father of the Bride Collection,0.0,Comedy,11862,en,Just when George Banks has recovered from his ...,8.387519,"Sandollar Productions, Touchstone Pictures",United States of America,1995-02-10,76578911.0,106.0,English,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,0.000000,1995
5,None,60000000.0,"Action, Crime, Drama, Thriller",949,en,"Obsessive master thief, Neil McCauley leads a ...",17.924927,"Regency Enterprises, Forward Pass, Warner Bros.",United States of America,1995-12-15,187436818.0,170.0,"English, Español",Released,A Los Angeles Crime Saga,Heat,7.7,3.123947,1995
6,None,58000000.0,"Comedy, Romance",11860,en,An ugly duckling having undergone a remarkable...,6.677277,"Paramount Pictures, Scott Rudin Productions, M...","Germany, United States of America",1995-12-15,0.0,127.0,"Français, English",Released,You are cordially invited to the most surprisi...,Sabrina,6.2,0.000000,1995
7,None,0.0,"Action, Adventure, Drama, Family",45325,en,"A mischievous young boy, Tom Sawyer, witnesses...",2.561161,Walt Disney Pictures,United States of America,1995-12-22,0.0,97.0,"English, Deutsch",Released,The Original Bad Boys.,Tom and Huck,5.4,0.000000,1995
8,None,35000000.0,"Action, Adventure, Thriller",9091,en,International action superstar Jean Claude Van...,5.23158,"Universal Pictures, Imperial Entertainment, Si...",United States of America,1995-12-22,64350171.0,106.0,English,Released,Terror goes into overtime.,Sudden Death,5.5,1.838576,1995
9,James Bond Collection,58000000.0,"Adventure, Action, Thriller",710,en,James Bond must unmask the mysterious head of ...,14.686036,"United Artists, Eon Productions","United Kingdom, United States of America",1995-11-16,352194034.0,130.0,"English, Pусский, Español",Released,No limits. No fears. No substitutes.,GoldenEye,6.6,6.072311,1995

In [29]:
# Creo un nuevo dataframe que contenga solo las columnas que utilizarán las funciones para los endpoints solicitados.
df = df[['belongs_to_collection', 'budget', 'production_companies', 'production_countries', 'release_date', 'revenue', 'title', 'retorno']]

In [30]:
df.head()

,belongs_to_collection,budget,production_companies,production_countries,release_date,revenue,title,retorno
0,Toy Story Collection,30000000.0,Pixar Animation Studios,United States of America,1995-10-30,373554033.0,Toy Story,12.451801
1,None,65000000.0,"TriStar Pictures, Teitler Film, Interscope Com...",United States of America,1995-12-15,262797249.0,Jumanji,4.043035
2,Grumpy Old Men Collection,0.0,"Warner Bros., Lancaster Gate",United States of America,1995-12-22,0.0,Grumpier Old Men,0.000000
3,None,16000000.0,Twentieth Century Fox Film Corporation,United States of America,1995-12-22,81452156.0,Waiting to Exhale,5.090760
4,Father of the Bride Collection,0.0,"Sandollar Productions, Touchstone Pictures",United States of America,1995-02-10,76578911.0,Father of the Bride Part II,0.000000

In [31]:
df.shape

(45376, 8)

In [32]:
# Exportamos el dataframe preprocesado para utilizar como base de datos para nuestra API
df.to_csv('dataset_ETL.csv', index=False)

Deben crear 6 funciones para los endpoints que se consumirán en la API, recuerden que deben tener un decorador por cada una (@app.get(‘/’)).

In [ ]:
df = pd.read_csv('movies_dataset_limpio.csv')
df['release_date'] = pd.to_datetime(df['release_date'], format='%Y-%m-%d')
df['month_release'] = df['release_date'].dt.strftime('%B')
df['day_of_week_release'] = df['release_date'].dt.strftime('%A')

def peliculas_mes(mes:str): 
    '''Se ingresa el mes en español y la función retorna la cantidad de películas que se estrenaron ese mes 
    (nombre del mes en español, en str, ejemplo 'marzo') históricamente'''
    meses = {
        'enero': 'January',
        'febrero': 'February',
        'marzo': 'March',
        'abril': 'April',
        'mayo': 'May',
        'junio': 'June',
        'julio': 'July',
        'agosto': 'August',
        'septiembre': 'September',
        'octubre': 'October',
        'noviembre': 'November',
        'diciembre': 'December'
    }
    mes_ingles = meses.get(mes.lower())
    df_mes = df[df['month_release'] == mes_ingles]
    cantidad = len(df_mes)
    return {'mes': mes, 'cantidad': cantidad}


def peliculas_dia(dia:str): 
    '''Se ingresa el día de la semana y la función retorna la cantidad de películas que se estrenaron 
    ese día (nombre del día en español, en str, ejemplo 'lunes') históricamente'''
   
    dias_semana = {
        'lunes': 'Monday',
        'martes': 'Tuesday',
        'miercoles': 'Wednesday',
        'jueves': 'Thursday',
        'viernes': 'Friday',
        'sabado': 'Saturday',
        'domingo': 'Sunday'
    }
    dia_ing = dias_semana[dia.lower()]
    
    df_dia = df[df['day_of_week_release'] == dia_ing]
    cantidad = len(df_dia)
    return {'dia': dia, 'cantidad': cantidad}


def franquicia(franquicia: str):

    '''Esta función recibe como argumento la franquicia y retorna cantidad de peliculas, ganancia total y ganancia promedio
     para dicha franquicia '''
    
    df['belongs_to_collection'] = df['belongs_to_collection'].fillna('')
    df_franquicia = df[df['belongs_to_collection'].str.contains(franquicia, na=False)]
    cantidad = df_franquicia.shape[0]
    ganancia_total = df_franquicia['revenue'].sum()
    ganancia_promedio = df_franquicia['revenue'].mean()
    return {'franquicia': franquicia, 'cantidad': cantidad, 'ganancia_total': round(ganancia_total,2), 'ganancia_promedio': round(ganancia_promedio,2)}


def peliculas_pais(pais:str): 
    '''Ingresas el pais, retornando la cantidad de peliculas producidas en el mismo'''
    cantidad = len(df[df['production_countries'] == pais])
    return {'pais': pais, 'cantidad': cantidad}

def productoras(productora:str): 
    '''Ingresas la productora, retornando la ganancia total y la cantidad de peliculas que produjeron''' 
    df_productora = df[df['production_companies'] == productora]
    ganancia_total = df_productora['revenue'].sum()
    cantidad = len(df_productora)
    return {'productora': productora, 'ganancia_total': ganancia_total, 'cantidad': cantidad}


def retorno(pelicula: str): 
    '''Ingresas la pelicula, retornando la inversion, la ganancia, el retorno y el año en el que se lanzo''' 
    pelicula_df = df.loc[df['title'] == pelicula]
    inversion = pelicula_df['budget'].values[0]
    ganancia = pelicula_df['revenue'].values[0]
    retorno = pelicula_df['retorno'].values[0]
    anio = int(pelicula_df['release_date'].dt.year.values[0])
    return {'pelicula':pelicula, 'inversion':inversion, 'ganacia':ganancia,'retorno':retorno, 'anio':anio}